.product-details{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    margin-top: 51px;
    gap: 12px;
}

.product-brand{
    color: #1565C0;
    font-size: 16px;
}

.product-brand p {
    display: inline-block;
    color: #000;
}

.product-description{
    font-weight: 300;
}